body{
  margin: 0;
  background: rgb(97, 164, 75);
}

header {
  min-height: 400px;
  background: url("../images/whitefence.jpg");
  background-repeat: no-repeat;
  background-size: 1800px 400px;
  background-position: center top;
}

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.title {
  width: 100%;
  text-align: center;
  font-family: 'Muli';
  font-size: 40px;
  color: #EFDFBB;
}

.title:hover{
  color: #008080;
}

.nav_links {
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav {
  list-style-type: none;
  padding-top: 115px;
}

.manatee {
  height: 90px ;
  width: auto;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform:rotate(4deg);}
  50% {-webkit-transform:rotate(-4deg);}
  100% {-webkit-transform:rotate(4deg);}
}

@-moz-keyframes wiggle {
  0% {-moz-transform:rotate(4deg);}
  50% {-moz-transform:rotate(-4deg);}
  100% {-moz-transform:rotate(4deg);}
}

@keyframes wiggle {
  0% {transform:rotate(4deg);}
  50% {transform:rotate(-4deg);}
  100% {transform:rotate(4deg);}
}

.manatee:hover {
  -webkit-animation: wiggle 0.5s infinite;
  -moz-animation: wiggle 0.5s infinite;
  animation: wiggle 0.5s infinite;
}

.nav a{
  text-decoration: none;
  color: rgb(97, 164, 75);
  font-weight: bold;
  font-size: 15px;
}

.nav a:visited{
  color: rgb(97, 164, 75);
}

.intro {
  width: 90%;
  font-family: 'Nunito';
  font-weight: 400;
  margin-left: 80px;
  margin-top: 20px;
  color: #EFDFBB;
}

.linkyo {
  text-decoration: none;
  color: #008080;
  font-weight: 700;
}

a.linkyo:hover{
  font-style: italic;
}

.sidebar_pic {
  width: 55%;
  height: auto;
  vertical-align: top;
  border-radius: 20%;
  border: black 1px solid;
}

.links {
  width:100%;
  height:60px;
  text-align: center;
}

a.icons {
  text-decoration: none;
  color: black;
  text-align: center;
}

.resume_link{
  text-align: center;
  width: 90%;
  font-family: 'Nunito';
  font-weight: 400;
  margin-left: 80px;
  margin-top: 20px;
  color: #EFDFBB;
}

.container {
  text-align: center;
}

iframe{
  width: 60%;
}

.map iframe{
  width: 80%;
}

#map {
  height: 400px;
}
